<div>
    <section>
        <div>
            <h1 class="text-center mb-3">{{name}}</h1>
            <div class="mb-2">
                <date class="fw-bolder">{{birthdate}}({{birthplace}}) -</date><br>
                <date class="fw-bolder">{{deathdate}}({{deathplace}}).</date>
            </div>
            <p>{{nationality}}</p>
            <b>{{occupation}}</b>
            <div>
                <ul>
                    {{#each known_for}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </section>
    <hr class="my-5">
    <section>
        <div>
            <h3>Education :</h3>
            {{#each education}}
            <p>{{degree}}</p>
            <b>{{field}}</b>
            <p>{{institution}} (<date>{{year}}</date>)</p>
            {{/each}}
        </div>
        <div>
            <h3>Publications :</h3>
            <ul>
                {{#each notable_publications}}
                <li class="ms-3">"{{title}}",{{year}} ({{publisher}})</li>
                {{/each}}
            </ul>
        </div>
    </section>
    <hr class="my-5">
    <section>
        <div>
            <h3>Partners :</h3>
            <ul>
                {{#each partners}}
                <li class="ms-3"><b>{{name}}</b> ({{years}}) - {{relationship}} </li>
                {{/each}}
            </ul>
        </div>
    </section>
    <hr class="my-5">
    <section>
        <div>
            <h3>Influences :</h3>
            <ol>
                {{#each influences}}
                <li class="ms-3">{{this}}</li>
                {{/each}}
            </ol>
        </div>
        <div>
            <h3>Influenced :</h3>
            <ol>
                {{#each influenced}}
                <li class="ms-3">{{this}}</li>
                {{/each}}
            </ol>
        </div>
        <div>
            <h3>Quotes :</h3>
            <ul>
                {{#each quotes}}
                <li class="ms-3"><q>{{this}}</q></li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h3>Discoveries :</h3>
            {{#each major_discoveries}}
            <b>"{{title}}"</b> (<date>{{year}}</date>)
            <p>{{description}}</p>
            {{/each}}
        </div>
        <div>
            <h3>Contributions :</h3>
            {{#with contributions}}
            <b>"{{title}}"</b>
            <p>{{description}}</p>
            <date>{{year}}</date>,
            <em>{{field}}</em>
            {{/with}}
        </div>
    </section>
</div>