<main>
    <div class="row">
        {{#with header}}
        <div class="col-6">
            {{#with name}}
            <span class="text-start fs-3 fw-semibold">{{firstname}} {{lastname}}</span>
            {{/with}}
        </div>
        <div class="col-6">
            {{#with project}}
            <p class="text-end fs-3 fw-semibold">{{title}}</p>
            {{/with}}
        </div>
        {{/with}}
    </div>
    <hr class="my-5">
    <div class="row">
        {{#with main}}
        <span class="text-center fs-4 fw-semibold">{{title}}</span>
        <p class="my-5">{{text}}</p>
        {{/with}}
        <div class="text-center">
            {{#each buttons}}
            <a href="{{link}}" target="_blank"><button class="btn btn-primary col-3 mx-4 my-2">{{name}}</button></a>
            {{/each}}
        </div>
    </div>
</main>