<div>
   {{#with person}}
   <div>
      <section>
         <div>
            <h1 class="mb-3">{{name}}</h1>
            <div class="mb-2">
               <b>{{age}}</b>, <em>({{gender}})</em>
            </div>
            {{#with address}}
            <address>{{street}},{{city}},{{state}},{{zip}},{{country}}</address>
            {{/with}}
         </div>
      </section>
      <hr class="my-5">
      <section>
         <div>
            <h2 class="mb-3">- Education -</h2>
            {{#each education}}
            <p>{{degree}}</p>
            <p>{{major}}</p>
            <p>{{university}}</p>
            <date>{{graduationYear}}</date>
            {{/each}}
         </div>
      </section>
      <hr class="my-5">
      <section>
         <div>
            <h2 class="mb-3">- Work Experience -</h2>
            {{#each workExperience}}
            <cite>{{company}}</cite>
            <p>{{title}}</p>
            <date>{{startDate}}</date> -
            <date>{{endDate}}</date>
            <ul>
               {{#each responsibilities}}
               <li>{{this}}</li>
               {{/each}}
            </ul>
            <date>{{year_founded}}</date>
            <p>{{industry}}</p>
            <hr class="my-5">
            <div>
               <h3 class="mb-3">- Employees -</h3>
               {{#each employees}}
               <b>{{name}}</b> (<abbr>{{position}}</abbr>)
               <p>{{department}}</p>
               <ul>
                  {{#each projects}}
                  <li>
                     <b>{{name}}</b>
                     <p>{{description}}</p>
                     <p>{{status}}</p>
                     <hr class="my-3">
                     <div class="row">
                        <p class="fw-semibold fs-4">Teams :</p>
                        {{#each teams}}
                        <b class="mb-2">{{team_name}}</b>
                        {{#with team_leader}}
                        <p><b>{{name}}</b> ({{title}})</p>
                        <a href="{{email}}">{{email}}</a>
                        {{/with}}
                        <hr class="col-6 my-3">
                        <div>
                           {{#each team_members}}
                           <p><b>{{name}}</b> ({{title}})</p>
                           <a href="{{email}}">{{email}}</a>
                           <hr class="col-6 my-3">
                           <p class="fw-semibold fs-4">Skills :</p>
                           <ul class="mb-3">
                              {{#each skills}}
                              <li class="ms-3">{{this}}</li>
                              {{/each}}
                           </ul>
                           <div>
                              <p class="fw-semibold fs-4">Projects :</p>
                              {{#each projects}}
                              <p>{{name}}</p>
                              <p><em>{{description}}</em></p>
                              <ul class="mb-3">
                                 {{#each technologies}}
                                 <li class="ms-3">{{this}}</li>
                                 {{/each}}
                              </ul>
                              <div>
                                 <p class="fw-semibold fs-4">Team members :</p>
                                 <ul>
                                    {{#each team_members}}
                                    <li class="ms-3"><b>{{name}}</b> ({{title}})</li>
                                    {{/each}}
                                 </ul>
                              </div>
                              {{/each}}
                           </div>
                           {{/each}}
                        </div>
                        {{/each}}
                     </div>
                  </li>
                  {{/each}}
               </ul>
               {{/each}}
               {{/each}}
            </div>
      </section>
   </div>
   {{/with}}
</div>