<main>
   <section>
      <div>
         {{#with program.excursion}}
         <div>
            <h1 class="text-center mb-5">Excursion :</h1>
            <p class="fs-4 fw-semibold">{{name}}</p>
            {{#with location}}
            <address>{{city}}, {{country}}</address>
            {{/with}}
            <date>{{date}}</date>
         </div>
         <hr class="my-5">
         <div>
            <h2 class="text-center mb-5">Program :</h2>
            {{#each program}}
            <div>
               <p class="fs-4 fw-semibold">{{name}}</p>
               <p>{{type}} ({{duration}})</p>
            </div>
            <div>
               {{#with details}}
               <div>
                  {{#with museum}}
                  <b>{{name}}</b>
                  <div>
                     {{#with location}}
                     <address>{{address}}, {{city}}, {{country}}</address>
                     {{/with}}
                  </div>
                  <div>
                     <ul class="mb-3">
                        {{#each exhibits}}
                        <li class="ms-3 mb-2">
                           <span class="fw-bolder">"{{name}}"{{artist}}</span>
                           <span>{{description}}</span>
                           {{#if audio_guide}}
                           (audio guide)
                           {{/if}}
                        </li>
                        {{/each}}
                     </ul>
                  </div>
                  {{/with}}
               </div>
               <div>
                  {{#with venue}}
                  <b>{{name}}</b>
                  <div>
                     {{#with location}}
                     <address>{{address}}, {{city}}, {{country}}</address>
                     {{/with}}
                  </div>
                  {{/with}}
               </div>
               <div>
                  <ul class="mb-3">
                     {{#each performers}}
                     <li class="ms-3 mb-2">
                        <span class="fw-bolder">"{{name}}", {{type}}</span>
                     </li>
                     {{/each}}
                  </ul>
               </div>
               <div>
                  <h3>Guide :</h3>
                  {{#with guide}}
                  <b>{{name}}</b>
                  <p>language: {{language}}</p>
                  <b>rating: {{rating}}</b>
                  {{/with}}
               </div>
               {{#if @first}}
               <div class="row">
                  <hr class="col-8 my-5">
               </div>
               {{/if}}
               {{/with}}
            </div>
            {{/each}}
         </div>
         {{/with}}
      </div>
   </section>
</main>