<main>
    <div class="mb-5">
        {{> shopheader}}
    </div>
    <div class="mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{#each breadcrumb}}
                {{#if url}}
                <li class="breadcrumb-item"><a href="{{url}}">{{name}}</a></li>
                {{else}}
                <li class="breadcrumb-item">{{name}}</a></li>
                {{/if}}
                {{/each}}
            </ol>
        </nav>
    </div>
    <div class="mb-4 mt-3">
        <span class="display-5 fw-semibold">{{header}}</span>
    </div>
    <div class="row mb-5">
        {{#each sortBlock}}
        <div class="col-3">
            <select class="form-select">
                <option selected>{{placeholder}}</option>
                {{#each options}}
                <option value="{{value}}">{{text}}</option>
                {{/each}}
            </select>
        </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                {{#with filterBlock}}
                <div class="card-body">
                    {{#with sellers}}
                    <span class="card-title">{{title}}</span>
                    <div class="mt-3 ms-3">
                        {{#each list}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">{{value}}</label>
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}
                    <hr class="my-3 mx-1">
                    {{#with brands}}
                    <span class="card-title">{{title}}</span>
                    <div class="my-3">
                        {{#with input}}
                        <input class="form-control" placeholder="{{placeholder}}">
                        {{/with}}
                    </div>
                    <div class="ms-3">
                        {{#each options}}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">{{value}}</label>
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}
                    <hr class="my-3 mx-1">
                    {{#with price}}
                    <span class="card-title">{{title}}</span>
                    <div class="my-3">
                        {{#with range}}
                        <input class="form-control mb-2" placeholder="{{from}}">
                        <input class="form-control mb-2" placeholder="{{to}}">
                        {{/with}}
                    </div>
                    <div>
                        {{#with button}}
                        <a href="{{link}}"><button class="btn btn-outline-secondary">{{text}}</button></a>
                        {{/with}}
                    </div>
                    {{/with}}
                    <hr class="my-3 mx-1">
                    {{#each filterList}}
                    <div class="mb-3">
                        <span class="card-title">{{title}}</span>
                    </div>
                    {{#each options}}
                    <div class="form-check ms-3 mb-1">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">{{value}}</label>
                    </div>
                    {{/each}}
                    {{#if @last}}
                    {{else}}
                    <hr class="my-3 mx-1">
                    {{/if}}
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
        <div class="col-8">

            <div class="row">
                {{#each goodsList}}
                <div class="col-6">
                    {{> catalogItem}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="my-5">
        {{> service}}
    </div>
    <hr class="my-2">
    <div>
        {{> shopfooter}}
    </div>
</main>