<main>
    <div class="nav mb-2">
        {{#with navigation}}
        {{#each links}}
        <div class="nav-item">
            <a href="{{href}}" class="nav-link">{{text}}</a>
        </div>
        {{/each}}
        {{/with}}
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="my-5">
            <span class="display-3">{{header}}</span>
        </div>
        {{#with purchase}}
        <div class="nav nav-tabs">
            {{#each tabs}}
            <div class="nav-item">
                {{#if @first}}
                <a class="nav-link active" aria-current="page" href="#">{{this}}</a>
                {{else}}
                <a class="nav-link" aria-current="page" href="#">{{this}}</a>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <div class="row my-3">
            {{#with actionBlock}}
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="{{placeholder}}">
            </div>
            <div class="col-md-8">
                {{#each buttons}}
                {{#if isSuccess}}
                <a href="{{link}}"><button class="btn btn-success">{{text}}</button></a>
                {{/if}}
                {{#if isOutline}}
                <a href="{{link}}"><button class="btn btn-outline-success">{{text}}</button></a>
                {{/if}}
                {{#if isDanger}}
                <a href="{{link}}"><button class="btn btn-danger">{{text}}</button></a>
                {{/if}}
                {{/each}}
            </div>
            {{/with}}
        </div>
        <hr class="mb-4">
        {{> purchaseItem}}
        {{/with}}
    </div>
    <hr class="my-5">
    <div>
        {{#with userInfo}}
        <span class="display-4">{{title}}</span>
        <div class="card my-3">
            <div class="card-body">
                {{#with profileData}}
                <div class="card-title my-2">
                    <span class="display-5">{{title}}</span>
                </div>
                <div class="card mb-3">
                    {{#with fullName}}
                    <div class="card-body row">
                        <div class="col-4">
                            {{#with surname}}
                            <h6 class="mt-3">{{title}}</h6>
                            <p class="fw-medium fs-5">{{value}}</p>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with name}}
                            <h6 class="mt-3">{{title}}</h6>
                            <p class="fw-medium fs-5">{{value}}</p>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with middleName}}
                            <h6 class="mt-3">{{title}}</h6>
                            <p class="fw-medium fs-5">{{value}}</p>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
                <div class="card mb-3">
                    {{#with otherInfo}}
                    <div class="card-body row">
                        <div class="col-4">
                            {{#with birthday}}
                            <h6 class="mt-3">{{title}}</h6>
                            <p class="fw-medium fs-5">{{value}}</p>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with sex}}
                            <h6 class="mt-3">{{title}}</h6>
                            <p class="fw-medium fs-5">{{value}}</p>
                            {{/with}}
                        </div>
                        <div class="col-4">
                            {{#with language}}
                            <h6 class="mt-3">{{title}}</h6>
                            <p class="fw-medium fs-5">{{value}}</p>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
                {{/with}}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            {{#each buttons}}
                            <div class="col-4">
                                {{#if isPrimary}}
                                <a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
                                {{/if}}
                                {{#if isSecondary}}
                                <a href="{{link}}"><button class="btn btn-outline-secondary">{{text}}</button></a>
                                {{/if}}
                                {{#if isDanger}}
                                <a href="{{link}}"><button class="btn btn-outline-danger">{{text}}</button></a>
                                {{/if}}
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                {{#with recipients}}
                <div class="card-title my-2">
                    <span class="display-5">{{title}}</span>
                </div>
                <div class="row">
                    {{#each users}}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="fw-medium fs-5">{{name}}</p>
                                <div class="mb-2">{{phone}}</div>
                                {{#with button}}
                                <a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                {{#with contacts}}
                <div class="card-title my-2">
                    <span class="display-5">{{title}}</span>
                </div>
                <div class="row">
                    {{#each contactData}}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="fw-medium fs-6">{{title}}</p>
                                <div class="mb-2">{{value}}</div>
                                {{#with button}}
                                {{#if isPrimary}}
                                <a href="{{link}}"><button class="btn btn-primary">{{text}}</button></a>
                                {{/if}}
                                {{#if isSecondary}}
                                <a href="{{link}}"><button class="btn btn-outline-secondary">{{text}}</button></a>
                                {{/if}}
                                {{#if isDanger}}
                                <a href="{{link}}"><button class="btn btn-outline-danger">{{text}}</button></a>
                                {{/if}}
                                {{/with}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
        {{/with}}
    </div>
    <hr class="mt-5">
    <div class="row">
        {{#each footer}}
        <div class="nav col-2">
            <div class="nav-item">
                {{#each this}}
                <div>
                    {{#if @last}}
                    <a href="{{link}}" class="nav-link disabled">{{text}}</a>
                    {{else}}
                    <a href="{{link}}" class="nav-link">{{text}}</a>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</main>