<main>
    <div>
        <h1 class="text-center">Web languages</h1>
    </div>
    <hr class="my-5">
    <div>
        {{#with web}}
        {{#each languages}}
        <h2 class="text-center mb-3">{{name}}</h2>
        <b>Version: {{version}}</b>
        <p>{{description}}</p>
        <div>
            <ul>
                {{#each elements}}
                <li class="ms-3">
                    {{> description}}
                </li>
                {{#each attributes}}
                {{> block nam=true}}
                {{/each}}
                {{/each}}
            </ul>
        </div>
        <div>
            <ul>
                {{#each properties}}
                <li class="ms-3">
                    {{> description}}
                </li>
                {{#each values}}
                {{> block nam=false}}
                {{/each}}
                {{/each}}
            </ul>
        </div>
        <div>
            <ul>
                {{#each functions}}
                <li class="ms-3">
                    {{> description}}
                </li>
                {{#each parameters}}
                <ul>
                    <li class="ms-3">
                        <p><b>{{name}}</b>({{type}}): {{description}}</p>
                    </li>
                </ul>
                {{/each}}
                {{/each}}
            </ul>
        </div>
        {{#if @last}}
        {{else}}
        <hr class="my-5">
        {{/if}}
        {{/each}}
        {{/with}}
    </div>
</main>