<main>
    <div>
        {{#with main}}
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li class="ms-3">
                        <div class="mb-3">{{position}}</div>
                        <div class="mb-3">{{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (досі працюємо)
                            {{/if}}
                        </div>
                        <div class="mb-3">
                            {{#if company.url}}
                            {{> link text=company.name href=company.url blank=true noLine=true}}
                            {{else}}
                            <b>{{company.name}}</b>
                            {{/if}}
                        </div>
                        <hr class="my-3">
                        <div class="mb-3"><strong>Projects ({{projectAmount}})</strong></div>
                        <ul>
                            {{#each projects}}
                            <li class="ms-3">
                                <div class="mb-3">{{> link text=name href=url blank=true noLine=true}}</div>
                                <div class="mb-3">{{about}}</div>
                                <div class="mb-3">
                                    <em>Project stacks</em>
                                    ({{stackAmount}})
                                </div>
                                <div class="mb-3">
                                    <ul>
                                        {{#each stacks}}
                                        <li class="ms-3">{{name}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="mb-3">
                                    <em>Project awords</em>
                                </div>
                                <div>
                                    <ul>
                                        {{#each awards}}
                                        <li class="ms-3">{{name}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        {{/with}}
    </div>
</main>